<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
      <%= form_tag({action: 'login', controller: "homepage"}, {class: "login-form"}) do  %>
        <%= text_field_tag :email %>
        <%= password_field_tag :password %>
        <%= button_tag "Login" %>
        <p class="message">Not registered? <a href="https://github.com/">Create an account</a></p>
      <% end %>
  </div>
</div>
